.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container header {
    width: 50%;
    margin: 84px 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;

    margin-left: 7px;
}

.container header div {
    display: flex;
    align-items: center;
}

.container input {
    width: 50%;
    padding: 24px;

    background: #E6E6E6;
    border-radius: 5px;
    border: none;
}

.container button {
    width: 50%;
    padding: 24px;
    margin: 12px 0 84px;
    
    font-weight: 700;

    background: #EA4C89;
    border-radius: 5px;
    border: none;
    color: #FFF;

    cursor: pointer;
    transition: filter 0.2s;
}

.container button:hover {
    filter: brightness(0.9);
}